* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #f9ffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 97.200px;
    /* border: 1px solid rgba(42, 42, 42, 0.134); */
}

.logo {
    position: relative;
}

.logo img:first-child {
    position: relative;
    z-index: 1;
    width: 181px;
}

.logo img:nth-child(2) {
    position: absolute;
    top: 42px;
    left: 91px;
    z-index: 2;
    width: 90px;
}

.right ul {
    display: flex;
    gap: 35px;
}

.right ul li {
    list-style: none;
    font-family: "Segoe UI";
    display: flex;
    align-items: center;
}

.right ul li svg {
    width: 18px;
}

main {
    width: 950px;
    margin: auto;
    margin-top: 3em;
    display: grid;
    /* grid-template-areas:"english german italian"
                                "spanish french brazialian "
                                "japanese korean chinese"
                                "tr-chinese . .."; */
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 25px;
    font-family: 'Segoe UI';
    /* justify-content: center; */
    /* align-items: center; */

}

main>div {
    margin: 0;
    height: 201.8px;
    width: 100%;
    background-color: rgb(243, 242, 242);
    text-align: center;
    /* place-content: center; */
    /* padding-top: 1px; */
}

main div h2 {
    /* border: 2px solid black; */
    margin: 0;
    margin-top: 12px;
}

main div p {
    margin: 0;
    margin-top: 11px;
    font-size: 12px;
    /* cursor: text; */
}

main div button {
    margin-top: 20px;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    padding: 9px 20px;
    border: #5cb85c;
    font-weight: bold;
    cursor: pointer;
}

main div .hash_name {
    font-size: 11px;
    margin-top: 10px;
    cursor: pointer;
}

main div div {
    word-break: break-word;
    line-height: 1rem;
}

main div .hash {
    margin-top: 5px;
    font-size: 8px;
    font-weight: lighter;
    cursor: pointer;
    /* width: 40px; */
    /* text-decoration: line-through; */
}

@media only screen and (max-width: 1060px ) {
    main{
        grid-template-columns: repeat(2,minmax(0,1fr));
        width: 635px;
    }
}
@media only screen and (max-width: 699px ) {
    main{
        width: 326px;
        grid-template-columns: repeat(1,minmax(0,1fr));
        margin: auto;
    }
}
